{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h3 class="red_color">Home</h3>
<div class="row">
    {% if object_list %}
        {% for data in object_list %}
        <div class="col-sm-6 mt-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ data.name }}</h5>
                    <span class="badge bg-success">{{data.author}}</span>
                    <p class="card-text">
                        {{data.mini_description| truncatechars:200}}
                    </p>
                    <a href="{% url 'blog_detail' data.slug %}" class="btn btn-primary"><i class="fa-brands fa-readme"></i> Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h4 class="text-danger text-center">No blog found</h4>
    {% endif %}
</div>

<div class="mt-5">
    <nav aria-label="Page navigation example">
        
        <ul class="pagination justify-content-between">
           
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}