{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<h2>Contact to AQ Tech Blog</h2>
<form class="row g-3" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="fname" class="form-label">First name</label>
        {{form.first_name}}
    </div>
    <div class="col-md-6">
        <label for="lname" class="form-label">Last name</label>
        {{form.last_name}}
    </div>
    <div class="col-md-6">
        <label for="emailid" class="form-label">Email</label>
        {{form.e_mail}}
    </div>
    <div class="col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        {{form.phone_number}}
    </div>
    <div class="col-12">
        <label for="phone" class="form-label">Your Message</label>
        {{form.contact_message}}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}