<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AQ TECH BLOG</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap">
  <style>
    /* Your existing CSS here */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      width: 100%;
      padding: 0 10px;
      position: relative;
    }

    body::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("https://i.ibb.co/ZdFMkK7/hero-bg-1.jpg") no-repeat center center fixed, #000;
      background-size: cover;
      z-index: -1;
    }

    .wrapper {
      width: 400px;
      border-radius: 8px;
      padding: 30px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }

    form {
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff;
    }

    .input-field {
      position: relative;
      border-bottom: 2px solid #ccc;
      margin: 15px 0;
    }

    .input-field label {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #fff;
      font-size: 16px;
      pointer-events: none;
      transition: 0.15s ease;
    }

    .input-field input {
      width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      color: #fff;
    }

    .input-field input:focus ~ label,
    .input-field input:valid ~ label {
      font-size: 0.8rem;
      top: 10px;
      transform: translateY(-120%);
    }

    .btn-primary {
      background: #fff;
      color: #000;
      font-weight: 600;
      border: none;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      border: 2px solid transparent;
      transition: 0.3s ease;
    }

    .btn-primary:hover {
      color: #fff;
      border-color: #fff;
      background: rgba(255, 255, 255, 0.15);
    }

    .register {
      text-align: center;
      margin-top: 30px;
      color: #fff;
    }

    .input-field {
      color: #fff;
      margin-bottom: 5px;
      display: block;
    }

    .form-field {
      margin-bottom: 15px;
    }

    /* Custom styles for centered pop-up alert */
    #alertContainer {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      width: 90%;
      max-width: 500px;
    }

    .custom-alert {
      background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
      color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding: 15px;
      font-weight: 600;
      font-size: 1rem;
      text-align: center;
    }

    .custom-alert .close {
      color: #fff;
      opacity: 0.8;
    }

    .custom-alert .close:hover {
      opacity: 1;
    }

    .custom-alert.success {
      background: linear-gradient(135deg, #28a745, #218838); /* Green gradient for success */
    }

    .custom-alert.danger {
      background: linear-gradient(135deg, #dc3545, #c82333); /* Red gradient for danger */
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <h2><a href="{% url 'home' %}" style="color: white; text-decoration: none;">Register</a></h2>
    <form id="registrationForm" method="post">
      {% csrf_token %}
      <div class="form-field">
        <div class="col-md-6">
          <label for="fname" class="input-field">{{ form.first_name }}</label>
        </div>
        <div class="col-md-6">
          <label for="lname" class="input-field">{{ form.last_name }}</label>
        </div>
        <div class="col-6">
          <label for="username" class="input-field">{{ form.username }}</label>
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="input-field">{{ form.email }}</label>
        </div>
        <div class="col-12">
          <label for="password" class="input-field">{{ form.password1 }}</label>
        </div>
        <div class="col-12">
          <label for="confirm password" class="input-field">{{ form.password2 }}</label>
        </div>
      </div>
      <button type="submit" class="btn-primary">Create User</button>
      <div class="register">
        <p>Already have an account? <a href="/authors/login/" style="color:#551A8B">Login</a></p>
      </div>
    </form>
  </div>

  <!-- Alert containers for pop-ups -->
<div id="alertContainer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.getElementById('registrationForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the form from submitting the traditional way

    var formData = new FormData(this);

    fetch("{% url 'register' %}", {
      method: 'POST',
      body: formData,
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
      },
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        displayAlert("success", "User has been created, please login with your username and password");
        setTimeout(function() {
          window.location.href = "{% url 'login' %}";
        }, 2000);
      } else {
        displayAlert("danger", "There were errors in your form submission.");
      }
    })
    .catch(error => {
      displayAlert("danger", "An unexpected error occurred: " + error.message);
    });
  });

  function displayAlert(type, message) {
    const alertContainer = document.getElementById('alertContainer');
    const alert = document.createElement('div');
    alert.className = `custom-alert ${type} alert-dismissible fade show`;
    alert.role = "alert";
    alert.innerHTML = `
      ${message}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    `;
    alertContainer.appendChild(alert);

    // Automatically remove the alert after 2 seconds
    setTimeout(() => {
      alert.remove(); // Remove alert element from DOM after 2 seconds
    }, 2000);
  }

  // Remove any existing alert on page load (useful after hard reload)
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(() => {
      const existingAlert = document.querySelector('.custom-alert');
      if (existingAlert) {
        existingAlert.remove();
      }
    }, 2000);
  });
</script>

</body>
</html>
